<a href="https://colab.research.google.com/github/onleey/python_demo/blob/master/101_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 비교연산자  

 - <  >  <= >= == !=  
 - 결과는 논리값 : True , False

In [ ]:
print (3 < 2)
print (3 > 2)
print (3 == 2)
print (3 != 2)

False
True
False
True

## 논리연산자
 - & (and) ,|(or), ^ (not)

In [ ]:
print (True & True)
print (True and True)
print (True & False)
print (True | True)
print (True or True)
print (True | False)
print (not True)

print (True and True)
print (True or True)
print (not True)

True
True
False
True
True
True
False
True
True
False

# existance  
-python에서 조건은 존재론(existance)적이다. => truthy, falsey

In [ ]:
# 0은 숫자가 없는것과 같음 -> Falsy
a = 0.0
if a:
  print('Yes')

else :
  print('no')

no

In [ ]:
# None은 숫자가 없는 것과 같음 -> falsy
a = None
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
# 비어 있는 dict는 없는 것과 같음 -> falsy
a = {}
if a :
  print('Yes')
else:
  print('No')

No

In [ ]:
a= int()
b= float()
c= list()
d= tuple()
e= str()
f= set()
g= frozenset()

if a :
  print('Yes')
else:
  print('No')

No

In [ ]:
3<2 or 4<5

True

In [ ]:
# and는 앞이 True이면 뒤에 값을 반환한다.
3 and 4

4

In [ ]:
3 and 0

0

In [ ]:
# and는 앞이 false 이면 앞에있는 값을 반환한다.
# 비어 있는 문자열은 없는 것과 같음 -> falsey
0 and 3

0

In [ ]:
'' and 4

''

In [ ]:
# or은 앞이 true이면 앞의 값이 리턴된다.
1 or 4

1

In [ ]:
# or은 앞이 false이면 뒤의 값을 리턴한다.
'' or 4

4

# 제어문 (statrment controller)
- 문장의 흐름을 제어해 준다.   
- 조건문, 반복문   
- 조건문   
  if ~ else
- 반복문
  -for ~ in
  -while  
- break, continue

'''
if 조건식 :    
    수행할 문장

else :     
    수행할 문장   
'''

In [ ]:
a = 8
if a>5 :
  print('ok')
else :
  print('Fail')

ok

In [ ]:
a = 3
if a%2 == 0 :
  print ('good')
else :
  print ('아니거든')

아니거든

In [ ]:
name ='홍길동'
if name :
  print(name + '님')

홍길동님

In [ ]:
# if 조건에 문장을 사용 할 수 없다.
if a=4:
  print(a)

SyntaxError: ignored

In [ ]:
# 80 이상이면 '상' , 60 이상이면 '중' 60 미만이면 '하'

a= 85
if  a >= 80 :
    print ('상')
elif  a >= 60 :
    print ('중')
else :
    print('하')

상

In [ ]:
a= 85
if a >= 80:
  print('상')
else:
  if a>= 60 :
    print ('중')
  else :
    print ('하')

상

In [ ]:
a = 60
if a >= 60  :
  if a >= 80 :
    print('상')
  else :
    print ('중')
else:
    print ('하')

중

In [ ]:
member = True
grade = 'A'  # 'S' 50, 'A' 30
point = 0

if member :
  #pass
  if grade == 'S' :
     point = 50
  else:
    point = 30
else:
  point=0

print(point)

30

In [ ]:

age = int(input('나이: '))
gender = input('성별[남,여]:')

if gender =='남' :
  if age >= 20   :
    print('성인 남성입니다.')
  else:
    print('청소년 남성입니다')
elif gender =='여':
    else:
if age >= 20:
    print('성인 여성입니다.')
   else:
    print('청소년 여성입니다.')
   else:
    print('다시입력해주세요 [남,여]')

IndentationError: ignored

In [ ]:
#윤년 : 연도를 4로 나누어 떨어지고 100으로 나누어 떨어지거나
#              400으로 나누어 떨어지면 된다.

import sys
year = int(input('year:'))
month= int(input('month'))

end_day_31 = [1,3,5,7,8,10,12]
end_day_30 = [4,6,9,11]
day = 28
check = ' '

if not (month >= 1 and month <=12):
   print (' 월은 1부터 12까지만 입력해주세요.')
   sys.exit()

#if month ==4 or month==6 or month==9 or month ==11:
if month in end_day_30:
   day=30

else:
  day=31

if (year %4==0 and year %100!=0) or year %400==0 :
   check = '윤년'
   if month ==2:
      day =29

else:
    check ='평년'
    if month ==2:
       day =28

print('{}년도는 {}월은 {}, 마지막 {}일 입니다.' .format(year, month,check ,day))

year:2013
month2
2013년도는 2월은 평년, 마지막 28일 입니다.

In [ ]:
height = int(input('키를 입력하세요'))
age = int(input('나이를 입력하세요'))

if height >= 140 :
   if age >= 8 :
    print('놀이기구에 탑승 할 수 있습니다.')
else:
    print('놀이기구에 탑승 할 수 없습니다.')


print('오늘 하루 즐거운 시간되세요!')

키를 입력하세요133
나이를 입력하세요2
놀이기구에 탑승 할 수 없습니다.
오늘 하루 즐거운 시간되세요!

In [ ]:
height = int(input('키를 입력하세요'))
age = int(input('나이를 입력하세요'))

if height >=140 and age >=8 :
  print('놀이기구에 탑승 할 수 있습니다.')
else:
  print('놀이기구에 탑승 할 수 없습니다.')

print('오늘 하루 즐거운 시간되세요!')

키를 입력하세요165
나이를 입력하세요33
놀이기구에 탑승 할 수 있습니다.
오늘 하루 즐거운 시간되세요!

'''
[조건]
1. 18세 미만은 이 영화를 볼 수 없다
2. 18세 이상 59세 이하의 손님은 8000원
3. 60세 이상의 손님은 5000원
4. 포인트카드를 가지고 있고 지금까지 5편의 영화를 본 손님은 5000원

18세 미만이면 '티켓을 팔 수 없다'를 기술한 부분이다.
60세 이상이거나 포인트가 있고 5편 관람한 할인 대상자는 '티켓은 5000원입니다.
그외는 '티켓은 8000원입니다'로 출력하는 프로그램을 구현하시오.

[테스트1]
age=35
point_card =True
count=5

출력결과 : 티켓은 5000원입니다

[테스트2]
age=35
point_card =True
count=5

출력결과 : 티켓을 판매할 수 없습니다

[테스트3]
age=35
point_card =True
count=3

출력결과: 티켓은 8000원입니다
'''

In [ ]:
age = int(input('나이를 입력하세요'))
point_card = bool(input('포인트소지여부 :'))
count = int(input('영화 관람 티켓 갯수 : '))

if age <18 :
  print('티켓을 판매할 수 없습니다.')
elif age >=60 or (point_card== True and count==5) :
  print('티켓은 5000원 입니다.')
else:
  print('티켓은 8000원 입니다.')

나이를 입력하세요22
포인트소지여부 :12
영화 관람 티켓 갯수 : 55
티켓은 8000원 입니다.

## 반복문 : While
반복문에서 else는 반복문이 완벽하게 끝났을 때 실행된다.  
대부분의 프로그래밍 언어는 while과 for를 지원한다.  
else
  -if ~ else  
  -try ~ except ~ else ~ finally  
  - while ~ else   

```
while 조건식 :
  수행할 문장

else:  
  수행할 문장   

```

In [ ]:
# while 문이 완벽하게 실행되어 end가 출력됨
a = 10
while  a>5 :
  a -= 1 # a= a-1
  print(a)

else:
  print('end')

9
8
7
6
5
end

In [ ]:
# while문을 강제적으로 빠져나왔기 때문에 else 영역을 실행하지 않는다.
a = 10
while  a > 5 :
  a -= 1 # a= a-1
  print(a)
  if a ==5:
    break    # 반복문을 강제적으로 빠져나올때 사용한다. 즉 반복문을 중단시킨다.
else:
  print('end')

9
8
7
6
5

In [ ]:
# continue는 다음 루프(조건식)로 바로 넘어간다.
# 반복문을 중단하지 않기 때문에 else문이 실행된다.

a = 10
while a>5 :
  a-= 1
  if a == 6 :   # a % 2 == 0 (짝수)
    continue    # 위로 이동
  print(a)

else:
   print ('end')

9
8
7
5
end

In [ ]:
# 1부터 10까지 출력하는 프로그램을 구현하라
a = 1

while a <= 10 :
  print(a)
  a= a+1 # a += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 1부터 10까지 출력을 하고 합계를 구하는 프로그램을 작성하라
a = 1
sum = 0

while a <= 10 :

  sum = sum + a
  print(a)
  a = a+1 # a += 1

else :
  print('sum={}'.format(sum))

1
2
3
4
5
6
7
8
9
10
sum=55

In [ ]:
# 1부터 10까지 짝수,홀수 합계를 구하는 프로그램을 작성하라
a = 1
even = 0 #짝수
odd = 0 #홀수

while a <= 103 :
  if a % 2 == 1 : # 홀수 ?
   odd = odd + a   # odd += a
  else :
    even =even + a   # even += a

  a = a+1 # a += 1

else :
  print('짝수={}'.format(even))
  print('홀수={}'.format(odd))

짝수=2652
홀수=2704

 ## for 변수 in iterable :   
      실행구문    
```
for문과 함께 사용되는 함수   

for 변수 in range(시작번호, 마지막번호, 증감값):  
    실행구문

for 변수 in enumerate(sequence, start):
    실행구문

for 변수 in zip(data1, data2, ...):
    실행구문

```

In [ ]:
# range (end)
for i in range (5) :  #0부터 5미만의 값이 1씩 증가해서 생성됨
  print(i)

0
1
2
3
4

In [ ]:
# range (start, end)
for i in range (1,5):   # 1부터 5미만의 값이 1씩 증가해서 생성된다.
  print (i)

1
2
3
4

In [ ]:
# range (start , end, step)
for i in range (1,5,2):  #1부터 5 미만의 값이 2씩 증가해서 생성된다.
  print(i)

1
3

#### enumerate 함수
 - enumerate()함수는 인덱스와 객체를 동시에 저장할 수 있는 특징을 가진 for문을 좀더 효율적으로 사용하기 위한 함수이다.
 - enumerate()함수는 순서자료형(list, tuple, str)을 입력으로 받아 인덱스를 포함하는 enumerate 객체를 리턴한다.
 - enumerate([순서자료형], [시작값=0])의 형식을 가지며 순서자료형은 반복자가 가능한 객체가 입력도고 시작값은 입력시 해당수 부터 증가하며, 생략했을 경우 기본값은 0 이다.

In [ ]:
for k in enumerate(['apple','python','microsoft']) :
 print(k)

(0, 'apple')
(1, 'python')
(2, 'microsoft')

In [ ]:
for k,v in enumerate(['apple','python','microsoft']) :
 print(k, v)

0 apple
1 python
2 microsoft

In [ ]:
for k,v in enumerate(['apple','python','microsoft'] ,1 ):
 print(k, v)

1 apple
2 python
3 microsoft

In [ ]:
a= {'one':10, 'two':20 }
for k,v in enumerate(a):
  print(k,a[v])

0 10
1 20

In [ ]:
a= {'one':10, 'two':20 }
for k in enumerate(a):
  print(k)

(0, 'one')
(1, 'two')

In [ ]:
for k, v in enumerate({10,20,30}):
  print(k,v)

0 10
1 20
2 30

## zip
- 매개인자로 여러 목록을 받아 각 목록의 요소를 튜플에 담아 목록에 저장한다.

In [ ]:
a= [1,2,3,4,5]
b= ['a','b','c','d','f']

for x in zip(a,b):
  print (x)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'f')

In [ ]:
print = 3
del print
print(3)

3

In [3]:
a = []
for x in range( 2, 10 ):
  a.append(x)
print(a)

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = []
for x in range (1,10): #x가 2~9일때
  for y in range (2,10):  #y가 1~9일때
     print('{}x{}={}'.format(y,x,x*y),end = ' \t  ') #\t 는 일정한 간격으로 줄맞춤
  print()

2x1=2 	  3x1=3 	  4x1=4 	  5x1=5 	  6x1=6 	  7x1=7 	  8x1=8 	  9x1=9
2x2=4 	  3x2=6 	  4x2=8 	  5x2=10 	  6x2=12 	  7x2=14 	  8x2=16 	  9x2=18
2x3=6 	  3x3=9 	  4x3=12 	  5x3=15 	  6x3=18 	  7x3=21 	  8x3=24 	  9x3=27
2x4=8 	  3x4=12 	  4x4=16 	  5x4=20 	  6x4=24 	  7x4=28 	  8x4=32 	  9x4=36
2x5=10 	  3x5=15 	  4x5=20 	  5x5=25 	  6x5=30 	  7x5=35 	  8x5=40 	  9x5=45
2x6=12 	  3x6=18 	  4x6=24 	  5x6=30 	  6x6=36 	  7x6=42 	  8x6=48 	  9x6=54
2x7=14 	  3x7=21 	  4x7=28 	  5x7=35 	  6x7=42 	  7x7=49 	  8x7=56 	  9x7=63
2x8=16 	  3x8=24 	  4x8=32 	  5x8=40 	  6x8=48 	  7x8=56 	  8x8=64 	  9x8=72
2x9=18 	  3x9=27 	  4x9=36 	  5x9=45 	  6x9=54 	  7x9=63 	  8x9=72 	  9x9=81

In [ ]:
a = []
for x in range (1,10): #
  for y in range (2,10):  #
    # print('{}x{}={}'.format(y,x,x*y),end = ' \t  ') #\t 는 일정한 간격으로 줄맞춤
    a.append('{}x{}={}'.format(y,x,x*y))
    a.append('\t')
a.append('\n')

print(a)

['2x1=2', '\t', '3x1=3', '\t', '4x1=4', '\t', '5x1=5', '\t', '6x1=6', '\t', '7x1=7', '\t', '8x1=8', '\t', '9x1=9', '\t', '2x2=4', '\t', '3x2=6', '\t', '4x2=8', '\t', '5x2=10', '\t', '6x2=12', '\t', '7x2=14', '\t', '8x2=16', '\t', '9x2=18', '\t', '2x3=6', '\t', '3x3=9', '\t', '4x3=12', '\t', '5x3=15', '\t', '6x3=18', '\t', '7x3=21', '\t', '8x3=24', '\t', '9x3=27', '\t', '2x4=8', '\t', '3x4=12', '\t', '4x4=16', '\t', '5x4=20', '\t', '6x4=24', '\t', '7x4=28', '\t', '8x4=32', '\t', '9x4=36', '\t', '2x5=10', '\t', '3x5=15', '\t', '4x5=20', '\t', '5x5=25', '\t', '6x5=30', '\t', '7x5=35', '\t', '8x5=40', '\t', '9x5=45', '\t', '2x6=12', '\t', '3x6=18', '\t', '4x6=24', '\t', '5x6=30', '\t', '6x6=36', '\t', '7x6=42', '\t', '8x6=48', '\t', '9x6=54', '\t', '2x7=14', '\t', '3x7=21', '\t', '4x7=28', '\t', '5x7=35', '\t', '6x7=42', '\t', '7x7=49', '\t', '8x7=56', '\t', '9x7=63', '\t', '2x8=16', '\t', '3x8=24', '\t', '4x8=32', '\t', '5x8=40', '\t', '6x8=48', '\t', '7x8=56', '\t', '8x8=64', '\t', '9x8=72', '\t', '2x9=18', '\t', '3x9=27', '\t', '4x9=36', '\t', '5x9=45', '\t', '6x9=54', '\t', '7x9=63', '\t', '8x9=72', '\t', '9x9=81', '\t', '\n']

## Compression
 - compression 이란 iterable한 오브젝트를 생성하기 위한 방법 중 하나이다.   
 - List compression(LC)  # 이걸 많이 사용함 ㅋ
 - Set Compression (SC)  
 - Dict Compression (DC)

### List Compression
 - List 정의시 값을 정하지 않고 호출시 리스트 내의 값들이 처리되도록 구성
 - A = [표현식 for 항목 in squence]
 - A=  [표현식 for 항목 in squence if 논리식]
 - A=  [표현식 for 항목1 in squence1 for 항목2 in 반복가능객체 (iterable)2 if 논리식]

In [ ]:
s = []
for x in range (10):
  s.append(x**2)
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
s=[ x**2  for x in range (10)]
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
s = []
for x in range (10):
  if x %2 ==0:
   s.append(x**2)
print(s)

[0, 4, 16, 36, 64]

In [ ]:
s=[ x**2  for x in range (10) if x%2==0 ]
print(s)

[0, 4, 16, 36, 64]

In [ ]:
s= []
for i in range(1,3):
  for j in range (4,8):
    print('{}{}'.format(i,j))
    s.append((i,j))

print(s)

14
15
16
17
24
25
26
27
[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7)]

In [ ]:
s= [ (i,j) for i in range(1,3) for j in range (4,8)    ]


print(s)

[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7)]

총판매금액을 구하는 프로그램(list comprehension을 사용)  
cnt = [1, 1, 2, 1]  
prod = [500, 1000, 400, 600]

In [ ]:
cnt = [1, 1, 2, 1]
prod = [500, 1000, 400, 600]

for x in zip(cnt,prod):
  print (x)

(1, 500)
(1, 1000)
(2, 400)
(1, 600)

In [ ]:
del sum

In [ ]:
s = [ ]
cnt = [1, 1, 2, 1]
prod = [500, 1000, 400, 600]
for i,j in zip (cnt, prod):
  s.append(i*j)

print(sum (s))

2900

In [ ]:
s= sum ([i*j for i,j in zip(cnt, prod)])
print(s)

2900

'e'가 포함되어 있는 과일들만 추출해서 대문자로 출력하는 프로그램을 구현하세요.
fruits = ['apple', 'banana', 'cherry', 'grape', 'kiwi', 'tomato']

[출력결과]
['APPLE', 'CHERRY', 'GRAPE']

In [ ]:
##'e'가 포함되어 있는 과일들만 추출해서 대문자로 출력하는 프로그램을 구현하세요.
fruits = ['appLE', 'banana', 'cherry', 'grape', 'kiwi', 'tomato']


s = [item.upper() for item in fruits  if 'e' in item.lower() ]
print(s)



##[출력결과]
##['APPLE', 'CHERRY', 'GRAPE']

['APPLE', 'CHERRY', 'GRAPE']

## 예제

In [ ]:
##제어문이나 comprehension을 이용한 문제풀이

##[문제1]  리스트에 저장된 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력하도록 구현하세요.


a= ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']

b = [i for i in a if len(i) ==5]
b



##[출력결과]     ['alpha', 'bravo', 'delta', 'hotel', 'india']

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [ ]:
##[문제2]   가로 크기를 저장한 리스트를 활용해서 가로 크기가 불규칙한  리스트를 생성하도록 프로그램을 구현하세요.

a = [3, 1, 3, 2, 5]
b = [[0] * i for i in a]
b

##[출력결과]  [[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [ ]:
##[문제3]    포트폴리오의 총 비용을 계산하는 프로그램을 구현하세요.

portfolio = [{'name':'AA', 'shares':100, 'price':32.20},{'name':'IBM', 'shares':50, 'price':91.10},{'name':'CAT', 'shares':150, 'price':83.44},{'name':'MSFT', 'shares':200, 'price':51.23},{'name':'GE', 'shares':95, 'price':40.37},{'name':'MSFT', 'shares':50, 'price':65.10},{'name':'IBM', 'shares':100, 'price':70.44} ]


cost = sum([ s['shares'] * s['price'] for s in portfolio ])
cost


## [출력결과]  44671.15

In [ ]:
##[문제4]  포트폴리오에서 100주 이상 보유한 종목의 리스트를 출력하는 프로그램을 구현하세요.

portfolio = [{'name':'AA', 'shares':100, 'price':32.20},{'name':'IBM', 'shares':50, 'price':91.10},{'name':'CAT', 'shares':150, 'price':83.44},{'name':'MSFT', 'shares':200, 'price':51.23},{'name':'GE', 'shares':95, 'price':40.37},{'name':'MSFT', 'shares':50, 'price':65.10},{'name':'IBM', 'shares':100, 'price':70.44} ]

more100 = [ s for s in portfolio if s['shares'] >= 100 ]
more100


##[출력결과]
##[{'name': 'AA', 'shares': 100, 'price': 32.2},
## {'name': 'CAT', 'shares': 150, 'price': 83.44},
## {'name': 'MSFT', 'shares': 200, 'price': 51.23},
## {'name': 'IBM', 'shares': 100, 'price': 70.44}]

In [ ]:
##[문제5]보유한 MSFT와 IBM주식 전체 리스트를 출력하는 프로그램을 구현하세요.

portfolio = [{'name':'AA', 'shares':100, 'price':32.20},{'name':'IBM', 'shares':50, 'price':91.10},{'name':'CAT', 'shares':150, 'price':83.44},{'name':'MSFT', 'shares':200, 'price':51.23},{'name':'GE', 'shares':95, 'price':40.37},{'name':'MSFT', 'shares':50, 'price':65.10},{'name':'IBM', 'shares':100, 'price':70.44} ]

msftibm = [ s for s in portfolio if s['name'] in {'MSFT','IBM'} ]
msftibm

##[출력결과]
##[{'name': 'IBM', 'price': 91.1, 'shares': 50},
## {'name': 'MSFT', 'price': 51.23, 'shares': 200},
## {'name': 'MSFT', 'price': 65.1, 'shares': 50},
## {'name': 'IBM', 'price': 70.44, 'shares': 100}]

In [ ]:
##[문제6]보유 종목 중 가격이 10,000달러가 넘는 것의 리스트를 구현하는 프로그램을 구현하세요.
portfolio = [{'name':'AA', 'shares':100, 'price':32.20},{'name':'IBM', 'shares':50, 'price':91.10},{'name':'CAT', 'shares':150, 'price':83.44},{'name':'MSFT', 'shares':200, 'price':51.23},{'name':'GE', 'shares':95, 'price':40.37},{'name':'MSFT', 'shares':50, 'price':65.10},{'name':'IBM', 'shares':100, 'price':70.44} ]

cost = [s for s in portfolio if s['shares'] * s['price'] >10000 ]
print(cost)




##[출력결과]
##[{'name': 'CAT', 'price': 83.44, 'shares': 150},
## {'name': 'MSFT', 'price': 51.23, 'shares': 200}]

[{'name': 'CAT', 'shares': 150, 'price': 83.44}, {'name': 'MSFT', 'shares': 200, 'price': 51.23}]

In [ ]:
##[문제7]    portfolio에서 얻은 name과 shares를 가지고 튜플의 리스트 (name, shares)를 만드는 프로그램을 구현하세요.
portfolio = [{'name':'AA', 'shares':100, 'price':32.20},{'name':'IBM', 'shares':50, 'price':91.10},{'name':'CAT', 'shares':150, 'price':83.44},{'name':'MSFT', 'shares':200, 'price':51.23},{'name':'GE', 'shares':95, 'price':40.37},{'name':'MSFT', 'shares':50, 'price':65.10},{'name':'IBM', 'shares':100, 'price':70.44} ]

name_shares=[ (s['name'],s['shares']) for s in portfolio ]
print(name_share)


##[출력결과]
##[('AA', 100),
## ('IBM', 50),
## ('CAT', 150),
## ('MSFT', 200),
## ('GE', 95),
## ('MSFT', 50),
## ('IBM', 100)]

[('AA', 100), ('IBM', 50), ('CAT', 150), ('MSFT', 200), ('GE', 95), ('MSFT', 50), ('IBM', 100)]

In [39]:
##[문제8]  리스트에서 int만 추출하는 프로그램을 구현하세요.

oldlist = [1, 2, 'A', False, 3]


newlist = [i for i in oldlist if type(i)==int]
newlist

[1, 2, 3]

In [ ]:
##[문제9]   1부터 10까지의 홀수, 짝수로 출력하는 프로그램을 구현하세요.

reselt= { n:'짝수' if n%2==0 else '홀수' for n in range(1,11)}
print(reselt)






##[출력결과]
##{1: '홀수',
## 2: '짝수',
## 3: '홀수',
## 4: '짝수',
## 5: '홀수',
## 6: '짝수',
## 7: '홀수',
## 8: '짝수',
## 9: '홀수',
## 10: '짝수'}

{1: '홀수', 2: '짝수', 3: '홀수', 4: '짝수', 5: '홀수', 6: '짝수', 7: '홀수', 8: '짝수', 9: '홀수', 10: '짝수'}

### dict comprehension  
- 사전 정의시 값을 정하지 않고 호출시 사전 내의 값들이 처리되도록 구성
- A ={표현식 for (k,v) in 반복가능객체 if 논리식 }

In [2]:
d = {}
for k, v in zip(range(9), range(9)) :
  d[k]=v
print(d)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8}

In [5]:
d = { k:v for k, v in zip(range(9), range(9)) }
print(d)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8}

In [29]:
a = {'x':1 ,'y':2 ,'z':3}
b = {'w':10,'x':11 ,'y':2 }

print(a.keys())
print(b.keys())

c = a.keys() - b.keys()
print(c)
print(type(c))

d = c.pop()

print('{}:{}'.format(d,a[d]))

dict_keys(['x', 'y', 'z'])
dict_keys(['w', 'x', 'y'])
{'z'}
<class 'set'>
z:3

In [27]:
a = {'x':1 ,'y':2 ,'z':3}
b = {'w':10,'x':11 ,'y':2 }
k = {key:b[key] for key in b.keys() - a.keys()}
print(k)

{'w': 10}

### set comprehension  
- Set 정의시 값을 정하지 않고 호출시 Set내의 값들이 처리되도록 구성
- A = {표현식 for 항목 in 반복가능객체 if 논리식}

In [36]:
  k = {(i,j)   for i in range(1,3) for j in range(4,8)}
print(k)

{(2, 4), (2, 7), (1, 5), (1, 4), (1, 7), (2, 6), (1, 6), (2, 5)}