<a href="https://colab.research.google.com/github/onleey/python_demo/blob/master/102_python_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 함수 (function)
 - 함수 : 특정 목적을 가진 코드의 집합이며, 독립적으로 호출될 수 있는 기능이다.
 - 함수구조

 ```
   def 함수이름 (매개변수 parameter_1, parameter_2) :
       수행할 문장
       return 결과값
 ```
 - 함수 호출
 ```
    함수이름 ( argument_1, argument_2 )    
 ```
  parameter : 인자, argument :인수

In [ ]:
# 함수를 정의할 때 수행할 문장을 구현하지 않으면 에러가 발생한다.
def proc ( ):
  pass # pass 는 구현을 안할때 오류가 발생하지 않도록 사용한다.

In [ ]:
print (proc())  #실행할 결과값 리턴
print(proc)   #함수 식 리턴

None
<function proc at 0x7ed5cbe65870>

In [ ]:
a = proc
print(a())

None

## callable  
 - 이름 뒤에 ( ) 를 붙이는 것을 call (호출) 이라고 한다.
 - 이름 뒤에 ( ) 를 붙일 수 있는 것을 callable 이라고 한다.
 - 함수는 사용할 때 이름 뒤에 괄호를 붙일 수 있다.  
 - python 에서 callable인것은 3가지 유형이 있다.   
  - (1) function
  - (2) class (init가 정의되었을 경우)   
  - (3) object (call이 정의되었을 경우)

In [ ]:
def prn ():
  return 1

In [ ]:
# callable 은 built - in 함수로 ()을 붙여 사용할 수 있는지를 True/False로 알려준다.
callable(k)

False

In [ ]:
callable(prn)

True

In [ ]:
# 파라미터 (인자)와 리턴값이 있는 함수 정의
def max(x, y):
    if x >= y :
       res = x
    else :
       res = y
    return  res    #리턴은 함수에서 오직 하나만 있어야 함

In [ ]:
def max(x, y):
    if x >= y :
       return x
    else :
       return y

In [ ]:
print(max(10,5))

10

In [ ]:
def max(x, y):
    if x >= y :
      print(x)
    else :
      print(y)
    return

In [ ]:
print(max(10, 5))

10
None

In [ ]:
# 파라미터(인자)가 없고 리턴값이 없는 함수 정의
def max( ) :
  x = 10
  y = 5
  if x >= y :
      print(x)
  else :
      print(y)

In [ ]:
print (max ())

10
None

In [ ]:
def max( ) :
  x = 10
  y = 5
  if x >= y :
      return x
  else :
      return y

In [ ]:
print(max())

10

## parameter 와 argument   
1. positional   
2. keyword  
3. positional & keyword  
4. positional only  
5. keyword only  
6. 가변 positional   
7. 가변 keyword

1. positional
 - 함수 호출 : 선언할 때 파라미터의 순서와 호출할때 argument의 입력순서를 그대로 매칭한다.

In [ ]:
def proc (a, b):
  return a, b

In [ ]:
proc (2,4)

(2, 4)

2. keyword
 - keyword 방식을 이용하면 순서와 상관없이 parameter 이름에 따라 값이 대입된다.

In [ ]:
proc (b=4, a=2)

(2, 4)

3. keyword & positional 혼합

In [ ]:
def proc (a,b,c) :
   return a,b,c

In [ ]:
proc (2, c=5, b='사과')

(2, '사과', 5)

In [ ]:
# 한번 keyword 방식을 사용하면, 그 다음부터는 keyword 방법만 사용할 수 있다. # 4가 중간에 들어가면 오류
proc ( 4, c=5, b='사과')

(4, '사과', 5)

In [ ]:
# python 버전 확인
! python --version

Python 3.10.12

4. positional only
- positional only는 함수를 사용할 때 positional 방식으로만 parameter를 쓸 수 있도록 강제 하는 방법이다.  
- / 의 앞에 오는 parameter들은 positional 방식으로 입력할 수 있지만, keyword 방식으로 입력할 수 없다.   
- positional only 함수를 정의할 수 있는 것은 pyrhon 3.8 부터 지원한다. 이전 버전에서는 사전 정의된 positional only 함수는 있지만, 사용자가 만들 수는 없었다.

In [ ]:
def proc (a,b,c, /):  # / 위치가 중요함
    return a,b,c

In [ ]:
proc ('사과', 5, 6 )

('사과', 5, 6)

In [ ]:
def proc (a,b,/,c,d):
  return a,b,c,d

In [ ]:
proc (4,5,6,7)

(4, 5, 6, 7)

In [ ]:
proc (5,4,d=8,c=4)

(5, 4, 4, 8)

5. keyword only
 - keyword only방식은 keyword방식으로만 입력하도록 강제하는 방법이다.
 - '*' 이후로는 keyword 방식만 가능하다.

In [ ]:
def proc (*,a,b,c,d):
  return a,b,c,d

In [ ]:
proc (a=3, c=5, b='지은', d=3.14)

(3, '지은', 5, 3.14)

In [ ]:
def proc (a,b,*,c,d):
  return a,b,c,d

In [ ]:
proc ('지은',4,d=6, c=5)  # * 이후로는 키워드 이후로 방식만 가능

('지은', 4, 5, 6)

6. 가변 positional
 -가변 positional은 parameter 이름에 '*'를 붙인다.   
 -positional 방식으로 입력되는 argument는 갯수에 상관없이 모두 받아 온다.

In [ ]:
def proc(*a):   ## 가변포지셔너로 처리, 개수에 상관없이 모두 처리가능.
  print(type(a))
  return a

In [ ]:
print(proc(1))
print(proc(1,2,3))
print(proc('지은',1,2,3.54))

<class 'tuple'>
(1,)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
('지은', 1, 2, 3.54)

7. 가변 키워드
- 가변 keyword는 parameter 이름에 '**' 를 붙인다.  
- keyword 방식으로 입력되는 argument의 개수에 상관없이 모두 받아온다.

In [ ]:
def proc (**a):
  print(type(a))
  return a

In [ ]:
proc (x=2,y=3,c=4)

<class 'dict'>

{'x': 2, 'y': 3, 'c': 4}

In [ ]:
proc(x=3, y=1, z=[1,2,3])

<class 'dict'>

{'x': 3, 'y': 1, 'z': [1, 2, 3]}

가변 positional / 가변 positional은 한 번만 사용할 수 있다.

In [ ]:
def proc (**a,**b):
  return a,b

SyntaxError: ignored

In [ ]:
x=3; y=5
result = x+y
print (result)


x=4; y=6
result = x + y
print(result)

x=7; y=6
result = x + y
print(result)

8
10
13

In [ ]:
def plus (x, y):
    result = x + y
    return result

In [ ]:
plus (3,5)
plus (5,7)
plus (134,342)

476

## overloading
- 함수의 이름은 같은데, parameter 갯수 또는 parameter 타입이 달라야 한다.
- python은 overloading을 지원하지 않는다.

In [ ]:
def add (a):
   return a+1

In [ ]:
add (6)

7

In [ ]:
def add (a, b):
  return a+b

In [ ]:
add (2323,2323)
add('지은','짱')

'지은짱'

In [ ]:
sum([1,2,3,])

6

In [ ]:
def sum (a,b ):
  return a+b

In [ ]:
sum (4,0)

4

In [ ]:
del sum

NameError: ignored

In [ ]:
type(add)

function

In [ ]:
print(dir(add))

['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
display = add
display(2,3)

5

In [ ]:
type(display)

function

In [ ]:
# 함수를 다른 함수에 재할당해도 __name__은 원래 함수명을 알려준다.
display.__name__

'add'

In [ ]:
def exam (a,b,c,d,e) :
  hap = a+b+c+d+e
  avg = hap / 5
  print('합계:{}'.format(hap))
  print('평균:{}'.format(avg))

In [ ]:
exam (2,3,4,5,6)

합계:20
평균:4.0

In [ ]:
def display(k):
  return len(k)

In [ ]:
display ('apple')

5

In [ ]:
# 찾는 문자가 없을 때 : index() 오류발생, find() -1를 리턴
def display(k,i):
  return k.index(i)

In [ ]:
display ('apple','e')

4

특정년도의 윤년, 평년을 구해서 윤년이면 True, 평년이면 False로 리턴하는 프로그램을 구현하세요.

In [ ]:
def isLeapYear(year) :
   if (year % 4 == 0 and year % 100 !=0 ) or year % 400 ==0 :
    return True
   else :
     return False

In [ ]:
year = 2020
if isLeapYear(year) :
  print('{}년도는 {}입니다.'.format(year,'윤년'))
else:
 print('{}년도는 {}입니다.'.format(year,'평년'))

2020년도는 윤년입니다.

In [ ]:
def resultYear(b) :
  if b :
     print('{}년도는 {}입니다.'.format(year,'윤년'))
  else :
     print('{}년도는 {}입니다.'.format(year,'평년'))

In [ ]:
year = 2028
checkYear = isLeapYear(year)
resultYear(checkYear)

2028년도는 윤년입니다.

2개의 요소가 저장된 list 데이터 타입의 reverse해서 결과를 리턴하는 함수를 구현하세요.   

---

In [ ]:
def swap (data):
  a,b = data
  return [b,a]

In [ ]:
def swap (data):
  return [ i for i in reversed (data)]

In [ ]:
a= [1,3,4,5,6]
print (swap(a))
print ('변경후',a)

[6, 5, 4, 3, 1]
변경후 [1, 3, 4, 5, 6]

In [ ]:
swap([1,3])

[3, 1]

In [ ]:
def swap (data):

  #return [i for i in reversed(data)]
    data.reverse()
    return data

In [ ]:
a= ([1,2,3,4,5,])
print(swap(a))
print('변경 후:',a)

[5, 4, 3, 2, 1]
변경 후: [5, 4, 3, 2, 1]

In [ ]:
for k in swap ([1,3]):
 print (k, end = ' ')

3 1

대문자는 소문자로, 소문자는 대문자로 나머지는 그대로 해서 반환하는 프로그램을 구현하세요.

In [ ]:
item = 'arue'
item >= 'A' and item <='Z'

def process( arg ):
  data = []
  i=-1
  while i < len(arg)-1:
    i = i +1

    #if (type(arg[i]) ==bool) or (type(arg[i]) ==int) :
    if type(arg[i]) !=str :
      data.append(arg[i])
      continue

    if arg[i] >= 'A' and arg[i] <='Z':
      data.append (chr (ord (arg[i]) + 32 ))
    elif arg[i] >='a' and arg[i] <='z':
      data.append (chr (ord (arg[i]) - 32 ))
    else:
      data.append (arg[i])
  return data

In [ ]:
def process(arg):
  s=[]
  for item in arg:
    if type(item)==str:
      if item.isupper():
        s.append(item.lower())
      elif item.islower():
        s.append(item.upper())
      else:
        s.append(item)
    else:
        s.append(item)
  print(s)

In [ ]:
process(['p','y','T',1,'_',True])

['P', 'Y', 't', 1, '_', True]

In [ ]:
a = [1,2,3]
for i in a:
  if i%2==0:
    continue
  print(i)

1
3

In [ ]:
def process( arg ):  #['p','y','T',1,'_',True]
  data = []
  i = -1
  while  i < len(arg)-1:
    i = i + 1
    if type(arg[i]) != str:
      data.append(arg[i])
      continue

    if arg[i].isupper():
      data.append(arg[i].lower())
    elif arg[i].islower():
      data.append(arg[i].upper())
    else:
      data.append(arg[i])

  return data

In [ ]:
process(['p','y','T',1,'_',True])

['P', 'Y', 't', 1, '_', True]

In [ ]:
def process(arg):
  s=[]
  for item in arg:
    if type(item)==str:
      if item.isupper():
        s.append(item.lower())
      elif item.islower():
        s.append(item.upper())
      else:
        s.append(item)
    else:
        s.append(item)
  print(s)

In [ ]:
def passToken(arg):
  data = []

  for item in arg:
    if item == 'a':
      data.append('_')
    elif item == 's':
      data.append('@')
    else :
      data.append (item)

  ##return str(data) 단일값
  return ' '.join(data) #str로 바꾸고 싶을 때

In [ ]:
passToken('address') #_ddre@@

'_ d d r e @ @'

## python은 외부에서 함수내부로 접근할 수 없다.

In [ ]:
def proc ( ) :
  z = 1

In [ ]:
c = 10 #전역변수
def display () :
  print (c)

In [ ]:
display()

10

함수에서 외부의 값은 접근할 수 있지만, 변경은 할 수 없다.

In [ ]:
t= 3
def prn ( ) :
  t = t+1
  print(t)

In [ ]:
prn()

UnboundLocalError: ignored

In [ ]:
t= 3
def prn ( ) :
  global t
  t = t+1
  print(t)

In [ ]:
prn ()

4

In [ ]:
# 외부의 자원도 값이 변경이 되어서 출력이 된다.
t

4

외부 함수의 자원을 내부 함수에서 참조할때는 nonlocal을 사용한다.

In [ ]:
k = 1
def outer():
  m=1
  def inner():
    global k
    k = k + 1
    nonlocal m
    m = m + 1
    return k, m
  return inner()

In [ ]:
outer()

(2, 2)

##lambda
-python에서는 익명함수를 정의 할 때 lambda 키워드를 사용한다.   
- 간결하게 함수를 표현하거나 def를 정의할수 없는 경우에 사용한다.

In [ ]:
def (a,b) :
  return a + b

In [ ]:
add (3,4)

7

In [ ]:
add = lambda a, b : a+b

In [ ]:
type(add)

function

In [ ]:
add.__name__

'<lambda>'

In [ ]:
add(3,4)

7