<a href="https://colab.research.google.com/github/onleey/python_demo/blob/master/python300_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
True
print(type(True))

<class 'bool'>

In [ ]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [ ]:
시가 = 2000
if 시가 >= 1000 :
  print('매수')

매수

In [ ]:
if 시가 >= 1000:
  if 고가 >= 1200:
    print("매수")

NameError: ignored

In [ ]:
if x !=0 :
  print('정답')

In [ ]:
x=6
if x >= 5 :
  print('크다')

크다

In [ ]:
x= 2
if x < 0 :
  x = x + 10

In [ ]:
x= 'Apple'

if x[0] =='a':

  print(len(x))

In [ ]:
if x % 3 == 0:
  print("정답")

TypeError: ignored

In [ ]:
if x > 3 :
 if x <= 10 :
  print(x)

TypeError: ignored

In [ ]:
if 3 < x <= 10 :
  print (x)

TypeError: ignored

In [ ]:
if x % 3 == 0 :
  if x % 4 ==0 :
    print("정답")

TypeError: ignored

In [ ]:
종가 = 30000
if 종가 > 시가 :
  print('상승장')
else:
    print('하락장')

상승장

In [ ]:
nn = input('입력:')
print(nn*2)

입력:hi
hihi

In [ ]:
a=  input('숫자를입력하세요 :')
print (int(a)+10)

a= int(input('숫자입력:'))
print(a+10)

숫자를입력하세요 :33
43
숫자입력:33
43

In [ ]:
a = int(input('숫자를입력하세요:'))
if  a % 2 == 0 :
 print ('짝수')
else:
  print('홀수')

숫자를입력하세요:3
홀수

In [ ]:
a = int(input('숫자를 입력하세요'))
print(a -5)

숫자를 입력하세요44
39

In [ ]:
a = input()
if int(a) > 255 :
  print(255)
else:
  int(a)< 255
  print(a)

300
255

In [ ]:
a = int(input('시간을 입력하세요:'))
if a == 12 :
 print( '정각입니다.')
else :
  print ('정각이아닙니다.')

시간을 입력하세요:3
정각이아닙니다.

In [ ]:
user_in = input("현재시간:")
if user_in[3:] == "00" :
    print("정각 입니다")
else :
    print("정각이 아닙니다")

현재시간:12:00
정각 입니다

In [ ]:
fruit = ["사과", "포도", "홍시"]

a=input('좋아하는과일은?')
if a in fruit :
   print('정답입니다.')
else:
  print('오답입니다.')

좋아하는과일은?포도
정답입니다.

In [ ]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

a = input('종목을입력하세요 :')
if a in warn_investment_list :
  print('투자경고종목입니다.')
else:
  print('투자경고 종목이 아닙니다.')

종목을입력하세요 :sk
투자경고 종목이 아닙니다.

In [ ]:
a = int(input('숫자를입력하세요'))
if a 3 % == 0 :
if a 4 % == 0 :
 print('정답')
else:
  print ('오답')

SyntaxError: ignored

In [ ]:
if x % 3 == 0:
if x % 4 == 0:
    print("정답")

IndentationError: ignored

In [ ]:
user_in_0 = input("0.입력:")
user_in_1 = input("1.입력:")

if int(user_in_0) > int(user_in_1):
    print(user_in_0)
else:
    print(user_in_1)

0.입력:3
1.입력:5
5

In [ ]:
grade = int((input('성적을 입력하세요')))
if 100 > 81 :
  print ('a')
elif  > 60 :
  print ('b')

성적을 입력하세요95
a

In [ ]:
user_in = input("입력:").split()

amount = user_in[0]
currency = user_in[1]

if currency == "달러" :
    ratio = 1167
elif currency == "엔" :
    ratio = 1.096
elif currency == "유로" :
    ratio = 1268
else :
    ratio = 171
print(ratio * int(amount), "원")

KeyboardInterrupt: ignored

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

a= input('좋아하는과일은?')

if a in fruit.values():
   print('정답입니다')

else:
   print('오답입니다')

좋아하는과일은?사과
정답입니다

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?사과
정답입니다.

In [ ]:
user= input('알파벳을 입력하세요:')

if user.islower():
  print(user.upper())
else:
  print(user.lower())

알파벳을 입력하세요:B
b

In [ ]:
user= input('')

if user.islower():
  print(user.upper())

else :
  print (user.lower())

d
D

In [ ]:
score = int(input('점수를 입력하세요'))

if score >80 :
  print('a')

elif score >60 :
   print ('b')
elif score >40 :
   print ('c')
elif score > 20 :
   print ('d')
else :
  print ('e')

점수를 입력하세요100
a

In [ ]:
환율 ={'달러':1167,'엔':1.096,'유로':1268,'위안':171}

coin = input('금액을 입력하세요')

num, currency = coin.split()
print(float(num)* 환율[currency],'원')

금액을 입력하세요300 엔
328.8 원

In [ ]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 32
input number2: 543
input number3: 222
543

In [ ]:
cell = {011:'skt', 016:'kt',019:'lgu'.010:'알수없음'}
phone = input('전화번호입력')

SyntaxError: ignored

In [ ]:
number= input('전화번호입력하세요')
a= number.split('-')[0]

if a == '011':
   com = 'skt'
elif a == '016':
   com = 'kt'
elif a == '019' :
   com = 'lgu'
else :
    a == '010'
    com = '알수없음'

print(f'당신은 {com} 사용자입니다.')

전화번호입력하세요010-2005-9683
당신은 알수없음 사용자입니다.

In [ ]:
opp = input('우편번호를 입력하세요')
if opp [0:4] == '012' :
  print('강북구')

In [ ]:
주민등록번호 = input ('주민번호입력:')
if 주민등록번호 [7] in ['1','3'] :
 print('남')
else:
  print('여자')

주민번호입력:900222-1458756
남

In [ ]:
주민등록번호 = input ('주민번호입력:')
if int(주민등록번호 [8:9]) <= 8:
 print('서울')
else:
  print('서울아님')

주민번호입력:900222-2041514
서울

In [ ]:
print('출력:','a')

출력: a

In [ ]:
변수 = 'A'
b= 변수.lower()
print('변환:',b)

변환: a

In [ ]:
변수 = [10,20,30]
for i in 변수 :
 print(i)

10
20
30

In [ ]:
for i in (10,20,30):
 print(i)

10
20
30

In [ ]:
for i in [10,20,30] :
 print(i)
 print('------')

10
------
20
------
30
------

In [ ]:
for i in ["+++++"] :
  print(i)
  print(10,20,30)

+++++
10 20 30

In [ ]:
for i in ['가','나','다','라'] :
 print('-----')

-----
-----
-----
-----

In [ ]:
리스트 = [100, 200, 300]
for i in 리스트:
   print(i+10)

110
210
310

In [ ]:
리스트 = ["김밥", "라면", "튀김"]

for i in 리스트 :

   print('오늘의메뉴:' , i)

오늘의메뉴: 김밥
오늘의메뉴: 라면
오늘의메뉴: 튀김

In [ ]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:

  print(len(i))

6
4
4

In [ ]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:

  print(i, len(i))

dog 3
cat 3
parrot 6

In [ ]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트 :
  print(i[0])

d
c
p

In [ ]:
리스트 = [1, 2, 3]

for i in 리스트 :

 print('3x', i)

3x 1
3x 2
3x 3

In [ ]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트:

  print(i[1:3])