<a href="https://colab.research.google.com/github/onleey/python_demo/blob/master/python_300%EC%A0%9C_%EB%B0%98%EB%B3%B5%EB%AC%B8(~180).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print('a')
print('b')
print('c')

a
b
c

In [5]:
변수=["A", "B", "C"]
print('출력:',변수[0])
print('출력:',변수[1])
print('출력:',변수[2])

출력: A
출력: B
출력: C

In [9]:
변수=["A", "B", "C"]

print('출력:',변수[0].lower())
print('출력:',변수[1].lower())
print('출력:',변수[2].lower())

출력: a
출력: b
출력: c

In [10]:
변수 = [10,20,30]

for i in 변수 :
  print(i)

10
20
30

In [15]:
for i in [10,20,30] :
 print(i)

10
20
30

In [17]:
변수 = [10,20,30]
점선 = ['-------']

for i in 변수 :
  print(i)
  print(점선)

10
['-------']
20
['-------']
30
['-------']

In [22]:
 print("+++++")
for i in [10,20,30]:
  print(i)

+++++
10
20
30

In [24]:
for i in [1,2,3,4] :
 print('-------')

-------
-------
-------
-------

In [26]:
리스트 = [100, 200, 300]

for i in 리스트:
  print(i+10)

110
210
310

In [27]:
리스트 = ["김밥", "라면", "튀김"]

for i in 리스트 :
  print("오늘의 메뉴:",i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [31]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
  print(len(i))

6
4
4

In [32]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i,len(i))

dog 3
cat 3
parrot 6

In [34]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i[0])

d
c
p

In [35]:
리스트 = [1, 2, 3]

for i in 리스트 :
  print('3 x', i)

3 x 1
3 x 2
3 x 3

In [52]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [64]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
  print(i)

나
다
라

In [69]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트 [::2]:
  print(i)

가
다

In [73]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1]:
 print(i)

라
다
나
가

In [78]:
리스트 = [3, -20, -3, 44]
for i in 리스트 :
  if i < 0 :
   print ( i )

-20
-3

In [80]:
리스트 = [3, 100, 23, 44]

for i in 리스트:
  if i %3 == 0 :
    print(i)

3

In [83]:
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트 :
  if i < 20 and i % 3 == 0 :
    print(i)

12
18

In [86]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트 :
  if len(i) >= 3 :
    print(i)

study
python
language

In [90]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트 :
 if i.isupper() :
   print(i)

A
D

In [92]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트 :
  if i.islower():
   print(i)

b
c

In [95]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
 print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [99]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
  제거 =i.split('.')
  print(제거[0])

hello
ex01
intro

In [103]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
  분할 = i.split('.')
  if 분할[1] == 'h':
    print (i)

intra.h
define.h

In [148]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
  분할 = i.split('.')
  if(분할[1] == 'h') or (분할[1] =='c'):
     print(i)

intra.h
intra.c
define.h

In [151]:
for i in range(100):
 print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [163]:
for i in range(2002,2051,4):
 print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [165]:
for i in range(1,31):
 if i  % 3 == 0 :
  print (i)

3
6
9
12
15
18
21
24
27
30

In [170]:
for i in range (100):
  print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [174]:
for i in range (10):
 print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [178]:
for i in range(1,10):

 print (3, "x", i, "=" ,3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [183]:
for i in range(1,10):
 if i % 2 == 1 :
  print (3, "x", i, "=" ,3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [190]:
y=0
for i in range(1,11):
  y += i
print('합:',y)

합: 55

In [195]:
y=0

for i in range (1,11,2):
  y += i
print ('합:',y)

합: 25

In [197]:
y= 1

for i in range (1,11):
  y *= i
  print(y)

1
2
6
24
120
720
5040
40320
362880
3628800

In [200]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
  print(price_list[i])

32100
32150
32000
32500

In [201]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
  print(price_list[i])

32100
32150
32000
32500

In [203]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
  print(i,data)

0 32100
1 32150
2 32000
3 32500

In [206]:
price_list = [32100, 32150, 32000, 32500]
for i in range (len(price_list)):
 print( 3 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500