<a href="https://colab.research.google.com/github/onleey/python_demo/blob/master/python_300%EC%A0%9C_%ED%95%A8%EC%88%98(~234).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def print_coin():
  print('비트코인')

In [4]:
for i in range(100):
  print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [10]:
def print_coins():
  for i in range(100):
    print('비트코인')

In [12]:


def message() :
    print("B")

In [16]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [20]:
def 함수(aa) :
    print(aa)

함수("안녕")
함수("Hi")

안녕
Hi

In [33]:
def print_with_smile (string) :
    print (string + ":D")

print_with_smile('안녕하세요')

안녕하세요:D

In [36]:
def print_upper_price(price):
  print(price*1.3)

print_upper_price (30)

39.0

In [38]:
def print_sum(a,b):
  print(a+b)

print_sum( 3,4)

7

In [46]:
def print_arithmetic_operation(a,b):

  print (a ,"+",b ,"=", a+b)
  print (a ,"-",b ,"=", a-b)
  print (a ,"*",b ,"=", a*b)
  print (a ,"/",b ,"=", a/b)

print_arithmetic_operation (3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [51]:
def print_max(a,b,c):

  if (a > b) and (a > c) :
    print (a)
  elif (b > a ) and (b > c) :
    print (b)
  elif (c >a )  and (c > b):
    print(c)

print_max( 10,8,6)

10

In [56]:
def print_reverse(string):
  print(string[::-1])

print_reverse("python")

nohtyp

In [61]:
def print_score(score_list):
  print(sum(score_list)/len(score_list))


print_score ([1, 2, 3])

2.0

In [66]:
def print_even(print_list):
 for i in print_list :
   if i %2 == 0 :
     print(i)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [77]:
def print_keys(happy):
    for keys in happy.keys():
        print(keys)


print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [86]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}


def print_value_by_key(happy,key):
    print(happy[key])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [94]:
def print_5xn(문자):

  print(문자[0:5])
  print(문자[5:10])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [95]:
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [100]:
def print_5xn(line,num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

print_5xn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [107]:
def calc_monthly_salary(salaly):
   monthly = int(salaly/12)
   return monthly

calc_monthly_salary(12004563415)

1000380284

In [120]:
def make_url(string):
  url='www.'+string+'.com'
  return url

make_url('naver')

'www.naver.com'

In [141]:
def make_list (string) :
    my_list = []
    for 변수 in string :
        my_list.append(변수)
    return my_list

make_list("abcd")

['a', 'b', 'c', 'd']