<a href="https://colab.research.google.com/github/onleey/python_demo/blob/master/python_300%EC%A0%9C_%EB%B0%98%EB%B3%B5%EB%AC%B8(~200).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
apart =[[101,102],[201,202],[301,302]]
print(apart)

[[101, 102], [201, 202], [301, 302]]

In [6]:
stock= [['시가',100,200,300],['종가',80,210,330]]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [10]:
value = {'시가':[100,200,300]},{'종가':[80,210,330]}
print(value)

({'시가': [100, 200, 300]}, {'종가': [80, 210, 330]})

In [11]:
stock = {'10/10':[80,110,70,90],'10/11':[210,230,190,200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [16]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
  for row in i :
    print(row,' 호')

101  호
102  호
201  호
202  호
301  호
302  호

In [18]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1] :
  for b in i :
    print(b,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [30]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
 for b in i[::-1] :
  print(b,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [31]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
  for b in i :
    print(b,'호')
    print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [52]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart  :
  for b in i:
       print(b,'호')
  print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [56]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
  for b in i :
    print(b,'호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [67]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data :
  for b in i :
    print(b*1.00014)
  print('-----')

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

In [72]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [77]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [80]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
  if (i[3]>150):
    print(i[3])

190
310

In [84]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
 if (i[3] >= i[0]):
  print(i[3])

100
310

In [92]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility=[]

for i in ohlc[1:]:
  volatility.append(i[1]-i[2])
print(volatility)

[40, 30, 10]

In [93]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
  if i[3] > i[0]:
    print(i[1]-i[2])

10

In [107]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
profit = 0

for i in ohlc[1:]:
  profit +=(i[3]-i[0])
print(profit)

0